img {
    max-width:100%;
}


input[type="text"]:focus{
    color:#000 !important;
}

button{
    color:#000;
    color-scheme: green;

}

body {
    animation: slidein 3s;
    background-image: url('https://wallpaperaccess.com/full/340434.png');
}

.bg {
    background-color:green;
    padding:1rem;
    

}

.title {
    
    font-family: "Skygraze", "Courier New", monospace;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(160, 159, 160), rgb(255, 0, 191));
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    -webkit-text-fill-color: white;
    text-shadow: -5px 5px 0 #000,
    1px 1px 0 #000, 1px -1px 0 #000; 
}



@font-face{
    font-family: Skygraze;
    src: url('./fonts/Skygraze.otf');
}

@font-face{
    font-family: Rosterine;
    src: url('./fonts/Rosterine.otf');
}



@keyframes slidein {
    from {
        margin-right:100%;
        width: 300%
    }

    to {
        margin-right:0%;
        width:100%;
    }
}

.SummonerName{
    text-align: center;
    font-family: Rosterine;
    font-size: 400%;
    
}

.SummonerLevel {
    text-align: center;
    font-family: Rosterine;
    font-size: 200%;
    font-weight: 300;
}


input, select, textarea{
    color:#2389;
    font-family: Rosterine;
    font-size: larger;
}

button {
    color:rgb(5, 5, 82);
    font-family: Rosterine;
    font-size:larger;
}
.Search {
    
    
    
}
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
